.button {
    padding: 16px 32px;
    display: block;
    color: white;
    font-weight: 600;
    background: var(--bakery-landing-1-c2);
    border: 2px solid var(--bakery-landing-1-c2);
    border-radius: 8px;
    cursor: pointer;
    margin-right: 87px;

}

.button:hover {
    background-color: transparent;
    color: var(--bakery-landing-1-s3);

    /* Link */
}