.format-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 444px;
    padding: 24px;
    background-image: linear-gradient(180deg,
            rgba(49, 38, 26, 0) 55.22%,
            rgba(49, 38, 26, 0.71) 72.92%,
            var(--bakery-landing-1-s1) 100%);
    border-radius: 16px;
    border: 1px solid lightgray;
    transition: transform 0.3s;

    &__title {
        margin-bottom: 16px;
        color: var(--bakery-landing-1-background);
        font-size: 24px;
        font-weight: 600;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__text {
        font-size: 14px;
        font-weight: 300;
        color: var(--bakery-landing-1-background);
    }

    &:hover {
        transform: scale(1.05);

    }
}