.input {
    position: relative;

    &__label {
        display: block;
    }


    &__control {

        padding: 16px 42px;
        width: 100%;
        font-size: 16px;
        line-height: 1.17;
        border: 1px solid var(--bakery-landing-1-s4);
        border-radius: 8px;
        background-color: transparent;
    }

    &:focus {
        border-color: var(--bakery-landing-1-c2);
        outline: none;
    }

    &::placeholder {
        color: var(--bakery-landing-1-s4);
        font-size: 16px;
        line-height: 1.17;
    }

    &:focus::placeholder {
        color: var(--bakery-landing-1-s1);
    }
}