.footer {
    padding: 32px 0;
    position: relative;
    background-image: url(../images/footer-backg.png);
    background-color: var(--bakery-landing-1-s1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer::before,
.footer::after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: " ";
}

.footer::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url("../images/bread-small.png");
}

.footer::after {
    background-image: url("../images/bread-big.png");
    width: 380px;
    height: 190px;
    right: 0;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-addres {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
    padding: 32px 0;
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}

.addres-list,
.address-info {
    flex-grow: 1;
}

.address-link {
    color: var(--bakery-landing-1-background);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--bakery-landing-1-c2);
}

.addres-icon {
    fill: var(--bakery-landing-1-background);
}

.addres-icon:hover {
    fill: var(--bakery-landing-1-c2);
}

.address-copyright {
    font-size: 14px;
    color: var(--bakery-landing-1-s4);
}