.formats-section {
    &__container {
     display: flex;
     gap: 32px;
    align-items: center;}

    &__title {
        margin-bottom: 80px;
    }
        
    &__item {
            flex-basis: calc((100% - 40px) / 3);
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;       }
}




// .format-card:hover {
//     transform: scale(1.05);
   
// }

// .format-title {
//     margin-bottom: 16px;
//     color: var(--bakery-landing-1-background);
//     font-size: 24px;
//         font-weight: 600;
//     }

// .format-image {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: -1;
// }

// .format-text {
//     font-size: 14px;
//     font-weight: 300;
//     color: var(--bakery-landing-1-background);
    
// }