.hero-section {
    padding: 124px 0;
    background-image:  linear-gradient(
        102.76deg,
        rgba(18, 18, 17, 0.78) 2.03%,
        rgba(18, 18, 17, 0.6) 58.46%,
        rgba(18, 18, 17, 0) 90.36%
          ),
     url(../images/hero-section-background.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

@media screen and (min-width: $bp-tablet) {
        padding: 272px 0;

    }
    

    &__title {
            margin-bottom: 48px;
            color: var(--bakery-landing-1-background);
            text-align: center;
            font-size: 128px;
            font-weight: 900;
            line-height: 1;

            @media screen and (min-width: $bp-desktop) {
                font-size: 128px;
                line-height: 1.5;
                margin-bottom: 0;
           
            }
        }

    &__button {
        margin: 0 auto;
      
    }

   &__button {
    @media screen and (min-width: $bp-desktop) {
           display: none;
}

   }
}
