.traditions-section {
   padding: 96px 120px 48px 100px;


    
 &__container {
     justify-content: space-between;
     display: flex;
     gap: 40px;
        }

        
     &__content {
      max-width: 710px;
       }
        
      &__title {
       margin-bottom: 42px;
      font-weight: 900;
      font-size: 64px;
      line-height: 1.3;
         
       }


   &__text {
      &--limited {
        max-width: 340px;
   
    }    
 }

 &__image{
   border-radius: 400px 400px 0px 0px;
 }
}







